<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OpenSubspace_v4"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="weka.subspaceClusterer.Mocca"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-t breast.arff -c last -w 1 -i 0.95 -s 0.95 -g 1.0 -M F1:Entropy:Accurracy"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OpenSubspace_v4"/>
</launchConfiguration>
