<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OpenSubspace/weka/subspaceClusterer/MySubspaceClusterEvaluation.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="weka.subspaceClusterer.MySubspaceClusterEvaluation"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-sc Mocca -maxiter 10000 -w 0.1 -s -1 -i 0.1 -b 0.15 -g 0.1 -a 0.1 -e 0.05 -M F1Measure:Accuracy:Entropy:CE:RNIA -t &quot;..\..\data\breast.arff&quot; -c last -label &quot;1&quot; -path &quot;C:\Users\ahoffer\Documents\GitHub\sepc\workspace\OpenSubspace\results_junk&quot; -t &quot;..\..\data\breast.true&quot; -mindiscrim 3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OpenSubspace"/>
</launchConfiguration>
